a {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.header {
  position: relative;
  height: 80vh;
}

.header--image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.header--title {
  position: absolute;
  left: 15vw;
  top: 50vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 50px;
  color: #ffffcc;
}
.header--text {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  position: absolute;
  left: 15vw;
  top: 63vh;
  right: 10vh;
}

.navigation {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffdfbe;
}

.navigation--container {
  display: flex;
}

.navigation--elements {
  color: black;
  text-decoration: none;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0 10px;
  font-family: "Courier New";
}

.navigation--image {
  height: 150px;
}

.navigation--elements:hover {
  color: #3a2513;
  padding: 20px;
}

.about {
  margin: 0;
  padding: 50px 20px;
  background-color: #f7d9c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about--image {
  width: 100px;
}

.about--heading {
  text-align: center;
  font-family: "Lato";
  font-size: 37px;
}

.about--title {
  text-align: center;
  font-size: 21px;
  font-family: "Lato";
  padding: 10px;
}

.about--text {
  text-align: center;
  font-family: "Lato";
  width: 600px;
  font-size: 18px;
}

h2, h4 {
  margin: 0;
}

.services--row {
  display: flex;
  height: 80vh;
  width: 100%;
}

.services--background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.services--content--container--coffee {
  width: 50%;
  position: relative;
}

.services--content--coffee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  background-color: #faedcb;
  object-fit: cover;
  box-shadow: 7px 5px black;
  border-radius: 15px;
}

.services--content--container--pastries {
  width: 50%;
  position: relative;
}

.services--content--pastries {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  background-color: #faedcb;
  object-fit: cover;
  box-shadow: 7px 5px black;
  border-radius: 15px;
}

.services--content--container--catering {
  width: 50%;
  position: relative;
}

.services--content--catering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  background-color: #faedcb;
  object-fit: cover;
  box-shadow: 7px 5px black;
  border-radius: 15px;
}

.services--image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.services--heading {
  text-align: center;
  font-family: Garamond;
  font-size: 30px;
}

.services--text {
  text-align: center;
  font-family: Garamond;
  font-size: 18px;
}

.above--contact {
  margin: 0;
  padding: 50px 20px;
  background-color: #fffcd4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.above--image {
  width: 100px;
}

.above--heading {
  text-align: center;
  font-family: "Lato";
  font-size: 31px;
}

.above--text {
  text-align: center;
  font-family: "Lato";
  width: 600px;
  font-size: 19px;
}

.contact {
  padding: 30px;
  padding-bottom: 40px;
  background-color: #bfaa8c;
}

.contact--title {
  font-family: Georgia;
  font-size: 25px;
  padding-bottom: 20px;
}

.contact--email {
  color: black;
  text-decoration: none;
}

address {
  font-size: 18px;
}

footer {
  font-size: 18px;
}