/* Overall Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: Genty;
    list-style: none;
}

/* Addition of fonts */
@font-face {
    font-family: Genty;
    src: url(fonts/GentyDemo-Regular.ttf);
}

@font-face {
    font-family: Genty Sans;
    src: url(fonts/GentySans-Regular.ttf);
}

@font-face {
    font-family: 'archerbook';
    src: url(fonts/archerbookpro-webfont.woff2) format('woff2'),
         url(fonts/archerbookpro-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* HTML Body and Scrollwheel */
html {  
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #d2b48c;
}
  
html::-webkit-scrollbar {
    width: .8rem;
    background-color: blanchedalmond;
}
  
html::-webkit-scrollbar-track {
    background: transparent;
}
  
html::-webkit-scrollbar-thumb {
    background: #61381f;
    border-radius: .5rem;
}

/* Navigation Bar CSS */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;  
    border-bottom: black 2px solid;
    background-color: #453328;  
}

.logo {
    margin-left: 20px;
    font-size: 30px;
    margin-top: 10px;
}

.logo a{
    color: aliceblue;
}

.logo a:hover{
    color: #d2b48c;
}

ul.navbar {
    display: flex; 
    align-items: center;
}

ul a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    font-family: archerbook;
}

.navi-except:hover {
    color: #d2b48c;
    border-bottom: 2px solid #d2b48c;
    transition: ease-in 120ms;
}

ul button {
    cursor: pointer;
    height: 45px;
    padding: 0 20px 0 20px;
    background-color: #f5f5fa;
    font-size: 20px;
    font-family: 'archerbook';
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-weight: bold;
}

ul button:hover{
    background-color: #d2b48c;
    transition: ease-in-out 300ms;
    border-bottom: none;
}

/* Slideshow */
.slideshow {
    height: 740px ;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: antiquewhite;
}

.slide-container {
    width: 100%;
    height: 750px;  
    overflow-x: hidden;
}

.slider {
    width: 500%;
    height: 500px;
    display: flex;
}

.slider input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 740px;
    filter: brightness(50%);
}

.navigation-manual{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 180px;
    z-index: 1003;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: antiquewhite;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 680px;
}

.navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s; 
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: aliceblue;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: aliceblue;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: aliceblue;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: aliceblue;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: aliceblue;
}

/* Opening text in Slideshow */
/* .opening-text{
    position: absolute;
    z-index: 1001;
    color: #ffffcc;
    padding-left: 50px;
    transform: translateY(100%);
    bottom: 700px;   
}

.opening-text h1:nth-of-type(1) {
    font-size: 150px;   
    font-family: 'Helvetica';
    font-weight:900;
}
.opening-text h1:nth-of-type(2) {
    font-size: 45px;    
}

.opening-text h1:nth-of-type(3) {   
    font-size: 45px;
}
.opening-text p:nth-of-type(1) {
    font-size: 30px;
    font-family: Genty Sans;
}    */

.opening-text{
    height: 740px;
    width: 100%;
    position: absolute;
    z-index: 1001;
    display: grid;
    place-content: center left;
    text-align: left;
    color: #f7f7f7;
    font-size: 30px;
    padding: 30px;
}

/* About Us */
.logo-pic {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    margin-top: 50px;
    z-index: 1000;
    border: 2px solid black;
}

.text-box{
    background-color: #C2B19A;
    border: 2px solid black;
    container-type: inline-size;
    display: grid;
    place-items: center;
    transform: translateY(20%);
    padding: 60px;
    border-radius: 50px;
    line-height: 30px;
    color: #222;
}

.text-box > p{
    font-size: 1.5cqi;
    text-align: justify;
    font-family: 'archerbook';
    font-weight: 700;
    text-align: center;
}
 
.text-box h1{
    font-family: Genty; 
}

section {
    position:relative;
}

.about-us {
    min-height: 800px;
    padding: 60px;
    background-image: url(Images/cafe-bg.png);
    font-size: 24px;
}

.about-us h1 {
    margin: 100px 0 30px 0;
}

/* Top Budget Stores and Top Expensive Stores*/
.line {
    width: 550px;
    height: 4px;
    background-color: #111;
    margin: 5px auto;
    border-radius: 5px;
}

.events {
    width: 95%;
    height: 100%;
    margin: 30px auto;
    box-sizing: border-box;
    background-color: #f8ecdd;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #453328;
    padding-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px; 

}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    margin-bottom: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    height: 620px;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    background-color: #C2B19A;
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(60%);
    border-radius: 20px;
}

.card h4 {
    text-align: center;
    font-family: 'archerbook';
    font-size: 30px;
    margin-bottom: 3px;
}

.card p {
    font-family:archerbook;
    margin-bottom: 15px;
    text-align: justify;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.1;
}

.card:hover > img {
    filter: brightness(100%);
    transition: ease-in-out 300ms;
}

.top-btn{
    padding-top: 10px auto;
    width: 100%;
    display: flex;  
    justify-content: center;
}

.ctn {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    background-color:#f7f7f7;
    width: 113px;
    border-radius: 30px;
    color: #453328;
    font-family: 'archerbook';
    font-weight: 900;
}

.ctn:hover{
    background-color: #453328;
    color: #f7f7f7;
    transition: ease-in-out 200ms;
}

.gold{
    border:5px solid #FFD700;
}

.silver{
    border:5px solid #938e8e;
}

.bronze{
    border:5px solid #CD7F32;
}

/*Home page view shop and contact button*/
.home-button-container {
    display: flex;
    height: 73vh;
    width: 100%;    
}

.home-button-content-container{
    width: 50%;
    position: relative;
}

.home-button-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-button-content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px;  
    background-color: #faedcb;
    border: 2px solid black;
    border-radius: 15px;
    width: 550px;
    height: 300px;

}

.home-button-content-heading{
    text-align:center;
    font-family: archerbook;
    font-size: 35px;
    margin: 18px;   
}

.home-button-text{
    text-align: center;
    font-family: archerbook;
    font-size: 17px;
}

.home-button-content button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 64%;
    left: 50%;
    display: block; 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #d2b48c; 
    color: #222; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border: 2px solid #222;
}

.home-button-content button:hover {
    background-color: #453328; 
    color: white;
}

/* Footer */
footer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #453328;
    color: #f5f5fa;
    font-size: 20px;
    padding: 20px;
    border: 2px solid#111111;
}

footer img{
    height: 140px;
    width: auto;
}

/* Social Media Icons */
.wrapper-icons .icon-btn{
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin: 0 5px;
    border-radius: 40px;
    cursor: pointer;
    background-color:antiquewhite;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    margin-top: 20px;
}

.wrapper-icons{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-self:left;
    padding-top: 100px;
}

.wrapper-icons .icon-btn:hover{
    width: 170px;
}

.wrapper-icons .icon-btn .icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.wrapper-icons .icon-btn:nth-child(1):hover .icon{
   background-color: #4267b2;
}
.wrapper-icons .icon-btn:nth-child(2):hover .icon{
   background-color: #1da1f2;
}
.wrapper-icons .icon-btn:nth-child(3):hover .icon{
   background-color: #e1306c;  
}

.wrapper-icons .icon-btn .icon i{
    font-size: 25px;
    line-height: 50px;
    transform: translateX(50%);
    color: #453328;
}

.wrapper-icons .icon-btn:nth-child(1) .icon i{
    margin-left: 8px;
}

.wrapper-icons .icon-btn:nth-child(3) .icon i{
    margin-left: 3px;
}

.wrapper-icons .icon-btn span{
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper-icons .icon-btn:nth-child(1) span{
    color: #4267b2;
}
 .wrapper-icons .icon-btn:nth-child(2) span{
    color: #1da1f2;
}
 .wrapper-icons .icon-btn:nth-child(3) span{
    color: #e1306c;  
}

.footer-icons{
    padding: 0;
}

/* Banner for Shops Page */
.banner-container{
    width: 100%;
    height: 40vh;
}

.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-text{
    top: 24%;
    left: 8%;
    font-size: 60px;
    padding: 8px auto;
    position: absolute;
}

.banner-text p, .banner-text2 p{ 
    font-family: archerbook;
    font-weight: bolder; 
}

.banner-text2{
    bottom: -428%;
    left: 8%;
    font-size: 60px;
    padding: 8px auto;
    position: absolute;
}

/* Budget and Expensive Stores */
.stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.stores p{
    font-family: Genty Sans;
    line-height: 30px;
    text-align: justify;
    font-size: 1.19vw;
}

.stores h2{
    font-size: 3vw;
}

.shop-container1,
.shop-container2 {
    height: 74vh;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #453328;
}

.main-pic {
    height: 58vh;
    width: 56vh;
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid #f5f5fa;
    object-fit: cover;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.product {
    height: 140px;
    width: 140px;
    margin-right: 50px;
    overflow: hidden;
}

.item-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item {
    height: 100%;
    width: 100%;
    border: #f5f5fa 2px solid;
    border-radius: 10px;
    object-fit: cover;
}

.shop-container1 .textbox,
.shop-container2 .textbox {
    color: #f5f5fa;
    flex: 1;
    padding: 20px;
}

.shop-container1 .wrapper-icons{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.shop-container2 .shop-icons{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-top: 30px;
}

.shop-container1 .shop-icons{
    padding-top: 30PX;
}

.shop-container2 {
    background-color: #d2b48c;
}

.shop-container2 .textbox {
    color: #111111;
}

.popup{
    cursor:default;
    height: 500vh;
    width: 500vw;
    position: fixed;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0%);
    background-color: #111111a2;
    opacity: 0;
    transition: transform .1s, opacity .1s;
}

.popup--inside{
    cursor:default;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #C2B19A;
    height: 80px;
    width: 250px;
    border-radius: 30px;
    border: 2px solid white;
}

.popup--inside > p{
    text-align: center;
    padding: 10px auto;
    margin-top: 30px;
    font-family: genty sans;
    font-size: 12.5px;
}

.show-popup{
    transform: translate(-50%, -50%);
    top: 50%;
    opacity: 1;
}

/* Pop Up notice */
.popup-close-button{
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -170%);
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border-radius: 100px;
    font-family: genty sans;
    border: 2px solid rgba(0, 0, 0, 0.504);
}

.popup-close-button:hover{
    background-color: #453328;
    color: #f7f7f7;
    transition: ease-in-out 200ms;
}

/* About and Contact Us Page */
.about-contact-container-title {
    background-size: cover; 
    width: 100%;
    height: 40vh;
    border-bottom: 2px  solid black;
}

.about-background-image-1st {
    background-image: url(Images/ausbg.png);
    background-position: 50% 57%;  
}
.about-background-image-2nd {
    background-image: url(Images/cusbg.png);  
    background-position: 50% 56%;
    border-top: #111 2px solid;
}
.about-div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;    
    justify-content: center;
}
  
.about-contact-heading {
    text-align: center;
    font-family:'archerbook';
    font-size: 70px;    
    color: white;
    padding: 0 25px;
    border-radius: 30px;
}
  
.about-row {
    display: flex;
    height: 75vh;
    width: 100%;
}
  
.about-content-container {
    width: 50%;
    position: relative;
}
  
.about-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content-1st{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px;
    background-color: #faedcb;
    width: 300px;
    height: 400px;
    box-shadow: 7px 5px black;
    border: 2px solid black;
    border-radius: 15px;
    
}

.about-content-1st-background-1st{
    background: url(Images/lance.jpg) no-repeat center;
    background-size: cover;
    background-size: 170%;
}   

.about-content-1st-background-2nd{
    background: url(Images/CreatorpictureMark.jpg) no-repeat center;
    background-size: cover; 
}
  
.about-content-2nd{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px;
    background-color: #faedcb;
    box-shadow: 7px 5px black;
    border-radius: 15px;
    border: 2px solid black;
    width: 440px;
    height: 470px;
}
  
.about-content-heading {
    text-align:center;
    font-family: 'archerbook';
    font-size: 30px;
    margin-bottom: 25px;
}
  
.about-text {
    text-align: justify;
    font-family: 'archerbook';  
    font-size: 16px;
}
  
.container *{
    font-family: 'Exo 2', sans-serif;
}
  
.container {
    margin: 30px 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main-container{
    display: flex;
    border-radius: 15px; 
    border: 5px #453328 solid;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.504);
    overflow: hidden;
}


.form {
    height: 500px;
    width: 400px;
    border-right: 3px solid #453328;
    background-color: #f5f5fa;
    flex-direction: column;
    padding: 20px;
}

/* Contact Us Form */
.form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.form input, .form textarea {
    padding: 10px;
    border: 2px solid #453328;
    border-radius: 5px;
    font-size: 16px;
}
  
.form textarea {
    height: 70px;
}
  
.form input[type="submit"] {
    background-color: #111;
    color: #f5f5fa;
    cursor: pointer;
}
  
.form input[type="submit"]:hover {
    background-color: #222;
}
  
.text {
    height: 500px;  
    width: 700px;
    background-image: url(/Images/coffeebeans-bg.png);
    background-size: 100% 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contact-image {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100px;
    border: 2px solid #453328;
}
