* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}
/* Navigation Bar CSS */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-color: #d2b48c;
}

.logo {
    margin-left: 20px;
    font-size: 30px;
}

.logo a{
    color: aliceblue;
}

ul.navbar {
    display: flex; /* Add this to make the list horizontal */
    align-items: center;
}

ul a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}

li {
    list-style: none;
}


ul button {
    cursor: pointer;
    height: 45px;
    padding: 0 20px 0 20px;
    background-color: aliceblue;
    font-size: 20px;
}

/* Slideshow CSS */
.slideshow {
    height: 740px ;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: antiquewhite;
}

.slide-container {
    width: 100%;
    height: 750px;  
    overflow-x: hidden;
}

.slider {
    width: 500%;
    height: 500px;
    display: flex;
}

.slider input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 740px;
}

.navigation-manual{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 180px;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: antiquewhite;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 680px;
}

.navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s; 
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: aliceblue;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: aliceblue;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: aliceblue;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: aliceblue;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: aliceblue;
}

/*About Us Section*/
.logo-pic {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    margin-top: 40px;
}

section {
    position:relative;
}

.Curves h1, p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
}

.About-Us, .Top {
    min-height: 800px;
    padding: 60px;
}

.About-Us h1 {
    margin: 200px 0 30px 0;
    font-size: xx-large;
}


.About-Us {
    background-color: #d2b48c;
    font-size: larger;
}

.Top{
    background-color: antiquewhite;
    font-size: larger;
}

.Top h1{
    font-size: xx-large;
    margin-bottom: 30px;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.waves .shape-fill {
    fill: antiquewhite;
}

/*ABOUT CSS*/

.about {
    width: 100vw;
    position: absolute;
    height: 90vh;
    display: flex;
    background-image: url(/Images/1330314.png);
}

.about-row-1st {
    width: 100%;
    height: 100%;
    background-color: aqua;
    
}


/*CONTACT CSS*/

/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .form {
    height: 500px;
    width: 400px;
    border: 3px solid #111;
    background-color: #f5f5fa;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form input, .form textarea {
    padding: 10px;
    border: 2px solid #111;
    border-radius: 5px;
    font-size: 16px;
  }

  .form input[type="submit"] {
    background-color: #111;
    color: #f5f5fa;
    cursor: pointer;
  }

  .form input[type="submit"]:hover {
    background-color: #222;
  }

  .text {
    height: 500px;
    width: 50%;
    background-image: url(Images/1330234.png);
    display: flex;
    align-items:center;
    justify-content: center;
  }*/